---
- name: include user task
  include: user.yml

- name: apt ~> update cache
  apt:
    update_cache: true
    cache_valid_time: 600
  failed_when: false

- include: util.yml

- include: gpg.yml
  when: gpg

- include: git.yml
  when: git

- include: regolith.yml
  when: regolith

- include: docker.yml
  when: docker

- include: nvm.yml
  when: nvm

- include: phpbrew.yml
  when: phpbrew

- include: virtualbox.yml
  when: vbox

- include: chrome.yml
  when: chrome
